<%= form_for [:admin, @admin_article], data: { turbo: false } do |f| %>
  <div class="card card-primary card-tabs box-solid">
    <div class="card-header p-0 pt-1" style="background-color: #6c757d;">
    </div>
    <div class="card-body">
      <div class="tab-content" id="custom-tabs-one-tabContent">
        <div class="tab-pane fade show active" id="tab_1">
          <%= render partial: 'shared/error_messages', locals: { object: @admin_article } %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :title %><br>
                <%= f.text_field :title, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :slug %><br>
                <%= f.text_field :slug, class: "form-control" %>
              </div>
            </div><br>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :order %>
                <%= f.number_field :order, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :status %><br>
                <%= f.select :status, [[t('status.active'), 'active'], [t('status.disable'), 'disable']], {}, { class: "form-control" }   %>
              </div>
            </div>
            <div class="col-md-12 d-flex">
              <div class="form-group">
                <%= f.label :image %><br>
                <img class="img thumb" src="<%= f.object.image.to_s %>">
                <%= f.hidden_field :image, placeholder: "link image", class: "form-control oneline image half" %>
                <input type="file" onchange="upload_image(this)" class= "upload-file" accept="image/png, image/gif, image/jpeg, image/svg, image/jpg">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :content %><br>
                <%= f.text_area :content, class: "form-control ckeditor"  %>
              </div>
            </div>

          </div>
          <br>
          <div class="actions">
            <%= f.submit "Save" , class: "btn btn-sm btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
