<div class="row m-2">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= t('articles.article_listing')%></h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
    </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th><%= t('articles.title') %></th>
              <th><%= t('articles.status') %></th>
              <th><%= t('articles.order') %></th>
              <th><%= t('articles.created_at') %></th>
            </tr>
          </thead>
          <tbody>
            <% @admin_articles.each do |admin_article| %>
            <tr>
              <td><%= admin_article.title %></td>
              <td><%= admin_article.order %></td>
              <td><%= background_default_status(admin_article) %></td>
              <td><%= admin_article.created_at %></td>
            </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
