<div class="admin main content">
  <%= render '/shared/notice' %>

  <div class="card box-solid">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p>
            <strong><%= t('articles.title') %>:</strong>
            <%=  @admin_article.title %>
          </p>
          <p>
            <strong><%= t('articles.status') %>:</strong>
            <%= @admin_article.decorate_status %>
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <% if  @admin_article.image.present? %>
              <%= image_tag( @admin_article.image, size: '200x200') %>
            <% end %>
          </p>
        </div>
        <div class="col-md-12">
          <strong><%= t('articles.content') %>:</strong>
          <%= simple_format(@admin_article.decorate_content) %>
        </div>
      </div>

      <%= link_to t('helpers.action.edit'), edit_admin_article_path(@admin_article), class: "btn btn-warning btn-sm" %>
      <%= link_to t('views.button.back'), admin_articles_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>
