<div class="admin main content  ">
  <%= render 'shared/notice' %>
  <div class="card box-solid">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p>
            <strong><%= t('admin.users.name')%>:</strong>
            <%= @admin_user.name %>
          </p>
          <p>
            <strong><%= t('admin.users.email')%>:</strong>
            <%= @admin_user.email %>
          </p>
          <p>
            <strong><%= t('admin.users.phone')%>:</strong>
            <%= @admin_user.phone %>
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <strong><%= t('admin.users.status')%>:</strong>
            <%= @admin_user.decorate.decorate_status %>
          </p>
          <p>
            <strong><%= t('admin.users.birthday')%>:</strong>
            <%= @admin_user.birthday %>
          </p>
          <p>
            <strong><%= t('admin.users.address')%>:</strong>
            <%= @admin_user.address %>
          </p>
        </div>
      </div>
      <%= link_to t('admin.buttons.edit'), edit_admin_user_path(@admin_user), class: "btn btn-warning btn-sm" %>
			<%= link_to t('admin.buttons.back'), admin_users_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>
